.navbar-brand img {
    width: 100px;
    height: 100px;
}

.navbar {
    background-color: #280137;
}

.btn {
    background-color: purple!important;
    outline-color: black !important;
    border-color: black !important;
}

.bg-img {
    background-image: url("../img/bg2.jpg");
    padding: 90px 0px;
    background-size: 100% 100%;
    background-position: center center;
}